@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

header {
    padding: 20px 0;
}

nav .nav-item a {
    font-size: 18px;
    color: #ff0000;
    font-weight: bold;
}

nav .navbar-collapse img {
    width: 30px;
    padding-right: 10px;
}

nav .navbar-collapse span {
    font-weight: bold;
    color: #ff0000;
}

nav .navbar-collapse button {
    font-size: 18px;
    font-weight: bold;
    background: #ff0000;
    color: #FFF;
    padding: 10px 50px;
    border: none;
    border-radius: 10px;
    transition: .2s;
}

nav .navbar-collapse {
    flex-grow: 0;
}


article .banner {
    border-bottom: 18px solid #000;
}

main .cards .card {
    height: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    padding: 50px 10px;
    transition: 0.2s ease-in-out;
}

.cards .card:hover {
    border: 4px solid #ff0000;
    transform: scaleY(1.1);
}

.cards .card img {
    max-width: 100px;
}

.cards .card span {
    font-weight: bold;
}

.cards .card h3 {
    font-weight: bold;
    color: #ff0000;
    margin-bottom: 30px;
}

.about {
    padding: 100px 0;
}

.about .about-img {
    width: 35%;
    height: 400px;
    background-image: url(/img/sobre-nos.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    box-shadow: -13px 25px 43px 4px rgba(0, 0, 0, 0.53);
}

.about .about-content {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
}

.about-content h3 {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ff0000;
}

.about-content h2 {
    font-size: 4rem;
    font-weight: bold;
    margin-top: -15px;
}

.about-content button {
    padding: 10px 20px;
    background-color: transparent;
    border: 4px solid #ff0000;
    border-radius: 40px;
    color: #ff0000;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 20px;
    max-width: 170px;
}
.about-content button:hover,
.hire-content button:hover {
    animation: transformY 0.8s infinite alternate;
}
@keyframes transformY {
    from {
      transform:  scale(1);
    }
    to {
      transform: scale(1.07);
    }
  }


article.range {
    padding: 80px 0;
}

article .img-range-whats img {
    border-radius: 30px;
}

.hire {
    position: relative;
    height: 500px;
}

.hire .image-hire {
    background-image: url(/img/bg-contrate.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
}

.hire .hire-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: 100px;
    max-width: 600px;
}

.hire .hire-content p {
    font-weight: bold;
    color: #ff0000;
    margin-bottom: 0;
}

.hire .hire-content span {
    font-style: italic;
    font-weight: bold;
}

.hire-content button {
    display: block;
    padding: 10px 30px;
    background-color: transparent;
    border: 4px solid #ff0000;
    border-radius: 40px;
    color: #ff0000;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 40px;
}

.hire-content h2 {
    font-size: 3rem;
    font-weight: bold;
    color: #ff0000;
    text-transform: uppercase;
    letter-spacing: -1px;
}

article .company {
    border-top: 6px solid #ff0000;
    border-bottom: 6px solid #ff0000;
    display: flex;
    align-items: center;
}

.company img {
    width: 150px;
}

article .customers {
    width: 300px;
    margin: 0 auto;
    font-size: 2rem;
    color: #FFF;
    font-weight: bold;
    padding: 15px;
    background: #ff0000;
}


footer {
    height: 350px;
    display: flex;
    align-items: center;
}

footer.footer-img {
    background-image: url(/img/bg-rodape.png);
    background-repeat: no-repeat;
    background-size: cover;
}

footer .footer-col {
    width: 400px;
    color: #FFF;
    padding: 0 40px;
}

.footer-col:nth-child(1) {
    text-align: justify;
    word-spacing: -5px;
}

.footer-col:nth-child(2) {
    border-left: 4px solid #ff0000;
    border-right: 4px solid #ff0000;
    height: 250px;
    display: flex;
    align-items: center;
    padding-bottom: 30px;
}

.footer-col:nth-child(2) li {
    list-style: none;
}

.footer-col:nth-child(3) img {
    width: 50px;
    filter: invert(100%);
    padding-right: 20px;
}

.footer-col ul li {
    display: flex;
    align-items: center;
}

.footer-col:nth-child(3) li {
    list-style: none;
    display: flex;
    align-items: center;
}

.rodape {
    background-color: #ff0000;
    color: #FFF;
    padding: 5px 0;
    font-size: 1.2rem;
}



@media (max-width: 1199px) {
    footer .row {
        width: 100%;
        flex-wrap: nowrap;
        margin: 0;
    }

    footer .footer-col {
        padding: 0 20px;
        width: 300px;
    }
}

@media (max-width: 768px) {
    .about .about-img {
        width: 100%;
    }
    footer .footer-col {
        width: 400px;
    }
    footer .row {
        width: 100%;
        flex-wrap: wrap;
    }
    footer {
        height: 100vh;
    }
    .footer-col:nth-child(2) {
        border-top: 4px solid #ff0000;
        border-bottom: 4px solid #ff0000;
        border-left: 0;
        border-right: 0;
        margin-bottom: 15px;
        height: auto;
        padding: 30px 0;
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .about .about-img {
        width: 90%;
        margin: 0 auto;
    }
    .about-content {
        margin-top: 40px;
    }
    .about-content h2 {
        font-size: 58px;
    }

    article.range {
        padding: 30px;
        margin: 0 auto;
        text-align: center;
    }
    article .img-range-whats img {
        max-width: 300px;
        margin: 0 auto;
    }

    .hire {
        height: 300px;
    }
    .hire .hire-content {
        position: absolute;
        top: 50%;
        left: 36%;
        width: 100%;
        transform: translate(-50%, -50%);
        width: 300px;
    }
    .hire-content h2 {
        font-size: 2rem;
    }
    .hire-content button {
        margin-bottom: 50px;
    }

    
}